$primary: #3292a6;
$primary-overlay: rgba($primary, 0.8);

html{
    scroll-behavior: smooth;
}

body{
    margin-top: 105px;
    scroll-behavior: smooth;
}

.navbar{
    background-color: white !important;
    border-bottom: 3px solid $primary;
    opacity: 0.9;
    box-shadow: 2px 2px 5px $primary;
    .nav-item{
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

#showcase{
    background: url('/img/mountains.jpg');
    left: 0;
    top: 0;
    // background-size: cover;
    min-height: 600px;
    color: white;
    position: relative;
    .overlay{
        background-color: $primary-overlay;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

#authors{

    .card img{
        border-radius: 50px;
    }

    .card:hover{
        background-color: $primary;
        color: white;
    }

    .card .card-body{
       transform: translateY(-50px);
       transition: all linear .25s;
    }

    .card .fab{
        color: white;
    }
}

@media (max-width: 991.98px) {
    #showcase h1{
        font-size: 3.5rem;
    }
}

